@import  url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


sub{
    font-size: 1rem;
    margin-bottom: 1em;
}
*{

    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    height: 100vh;
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header{
    position: absolute;
    top: 0;
    width: 100%;
    height: 5vh;

}

header > .btn{

    width: 5vh;
    height: 5vh;
    background-color: #000;
    border: none;
    outline: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 2rem;
    transition: all 0.2s ease-in-out;
}
.calculator{
    width: 54vw;
    height: 75vh;
    background-color: #000;
    border: 1px solid #fff;
    border-radius: 15px;
    padding: .5em;
    display: grid;
    grid-template-areas: "screen screen"
                         " add-button main-button" ;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 20% 80%;
    justify-items: center;
    align-items: center;
    padding-left: 1em;

}



.calculator-screen{  
    width: 100%;
    height: 14vh;
    border: none;
    padding-right: 0em;
    font-size: 6rem;
    font-weight: 300;
    background-color: black;
    color: #fff;
    text-align: right;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
    grid-area: screen;
}



.button-place{
    grid-area: main-button;
    padding-bottom: .5em;
    width: 100%;
    margin: 0;

    display: grid;
    grid-template-columns: repeat(4, 6vw );
    grid-template-rows: repeat(5, 12vh);
    grid-template-areas:   " ac plus-minus  proc divide "
                            "seven eight nine times"
                            "four five six minus"
                            "one two three plus"
                            "zero zero dot equal";
    
    justify-items: center;
    align-items: center;
}



.one{
    grid-area: one;
}

.two{
    grid-area: two;
}

.three{
    grid-area: three;
}

.four{
    grid-area: four;
}

.five{
    grid-area: five;
}

.six{
    grid-area: six;
}

.seven{
    grid-area: seven;
}

.eight{
    grid-area: eight;
}


.nine{
    grid-area: nine;
}

.ac{
    grid-area: ac;
}

.zero{
    grid-area: zero;
    width: 11vw;
    border-radius: 50px !important;
}


#plus-minus{
    grid-area: plus-minus;
}
#proc{
    grid-area: proc;
}
#dot{
    grid-area: dot;
}
#del{
    grid-area: del;
}
#plus{
    grid-area: plus;
}
#minus{
    grid-area: minus;
}

#times{
    grid-area: times;
}

#divide{
    grid-area: divide;
}

#equal{
    grid-area: equal;
}














.operator{
    background: #FD9404;
    color:#fff;
}

.number{
    background:#323232 ;
    color:#fff;
}

button{
    width: 5.5vw;
    height: 5.5vw;
    border-radius: 50%;
    outline: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
}



button:hover{

    background-color: #e6e6e6;
    transition: all 0.2s ease-in-out;
    color:#000;
}



.hover-effect{
    background-color: #e6e6e6;
    transition: all 0.2s ease-in-out;
    color:#000;
}





#breakLeft{
    grid-area: breakLeft;
}

#breakRight{
    grid-area: breakRight;
}


#x-1{
    grid-area: x-1;
}

#x{
    grid-area: x;
}

#xfact{
    grid-area: xfact;
}

#x2{
    grid-area: x2;
}

#x3{
    grid-area: x3;
}

#xy{
    grid-area: xy;
}

#ex{
    grid-area: ex;
}

#x10{
    grid-area: x10;
}

#sqrtx2{
    grid-area: sqrtx2;
}

#sqrtx3{
    grid-area: sqrtx3;
}

#ysqrtx{
    grid-area: ysqrtx;

}
#ln{
    grid-area: ln;
}

#log{
    grid-area: log;
}

#sin{
    grid-area: sin;
}

#cos{
    grid-area: cos;
}

#tan{
    grid-area: tang;
}

#ctg{
    grid-area: ctg;
}

#e{
    grid-area: e;
}
#sinh{
    grid-area: sinh;
}

#cosh{
    grid-area: cosh;
}

#tanh{
    grid-area: tanh;
}

#ctgh{
    grid-area: ctgh;
}

#pi{
    grid-area: pi;
}





.add-button{
    grid-area: add-button;
 display: grid;
 grid-template-areas: "breakLeft breakRight  x-1 x xfact"
 " x2 x3 xy ex x10 "
 "sqrtx2 sqrtx3 ysqrtx ln log "
 " sin cos tang ctg e"
 " sinh cosh tanh ctgh pi ";
    grid-template-columns: repeat(5, 6vw );
    grid-template-rows: repeat(5, 12vh); 
    justify-items: center;
    align-items: center;
}

.add-button button{
 
    background: #1F1F1F;

    
}







@media screen and (max-width:1600px) {

    .calculator{
        height: 65vh;
        grid-template-rows: 20% 80%;
    }
    .button-place{
        grid-template-rows: repeat(5, 9.5vh);
    }

    .add-button{
        grid-template-rows: repeat(5, 9.5vh);
    }
    
}










@media screen and (max-width: 1440px) {
    .calculator{
        width: 68vw;
        height: 80vh;
    }
    .button-place{
        grid-template-rows: repeat(5, 11.5vh);
        grid-template-columns: repeat(4, 7.5vw);
    }

    .add-button{
        grid-template-rows: repeat(5, 11.5vh);
        grid-template-columns: repeat(5, 7.5vw);
    }

    button{
        width: 7vw;
        height: 7vw;
    }    
    
}

@media screen and (max-width: 1240px) {
    .calculator{
        width: 68vw;
        height: 75vh;
    }
    .button-place{
        grid-template-rows: repeat(5, 11.5vh);
        grid-template-columns: repeat(4, 7.5vw);
    }

    .add-button{
        grid-template-rows: repeat(5, 11.5vh);
        grid-template-columns: repeat(5, 7.5vw);
    }

    button{
        width: 7vw;
        height: 7vw;
        font-size: 1.5rem !important;
    }  
    
}

@media screen and (max-width: 1024px){
    .calculator{
        width: 68vw;
        height: 60vh;
    }
    .calculator-screen{
        height: 10vh;}
    .button-place{
        grid-template-rows: repeat(5, 9vh);
        grid-template-columns: repeat(4, 7.5vw);
    }

    .add-button{
        grid-template-rows: repeat(5, 9vh);
        grid-template-columns: repeat(5, 7.5vw);
    }

    button{
        width: 7vw;
        height: 7vw;
        font-size: 1.5rem !important;
    }  
}
@media screen and (max-width: 968px ) {
    header{
        display: none;
    }
    body{
        overflow: hidden;
    }
    .calculator{
        height: 60vh;
        width: 90vw;
    }

    .calculator-screen{
        height: 10vh;
    }
    .button-place{
        grid-template-rows: repeat(5, 9vh);
        grid-template-columns: repeat(4, 10vw);
    }

    .add-button{
        grid-template-rows: repeat(5, 9vh);
        grid-template-columns: repeat(5, 10vw);
    }

    button{
        width: 9vw;
        height:9vw;
        font-size: 1.5rem !important;
    } 
}
@media screen and (max-width: 768px){
    .calculator{
       
        height: 60vh;
        width: 90vw;
    }

    
}

@media screen and (max-width: 680px ) and (max-height: 400px)  {
    .calculator{
       
        height: 100vh;
        width: 100vw;
        grid-template-rows: 24% 78%;
    }
    .calculator-screen{
        height: 18vh;
        font-size: 5rem !important;
    }
    .button-place{
        grid-template-rows: repeat(5, 15vh);
        grid-template-columns: repeat(4, 11vw);
    }
    .add-button{
        grid-template-rows: repeat(5, 15vh);
        grid-template-columns: repeat(5, 11vw);
    }
    button{
        width: 7.8vw;
        height:7.8vw;
        font-size: 1.5rem !important;
    } 
    
}


@media screen and (max-width: 425px){
    .calculator{
        height: 100vh;
        width: 100%;
    }
    .add-button{
        display: none;
    }
    
    .calculator-screen{
        font-size: 3.5rem;
        
        padding-right: 3.5vh;
        font-weight: 300;
        height: 20vh;
        overflow: hidden;
        box-sizing: border-box;
        white-space: nowrap;
        width: 100%;
    }

    .calculator{
        grid-template-rows: 28% 72%;
        grid-template-areas: "screen screen"
        " main-button main-button" ;
    }
    .button-place{
        
       grid-template-rows: repeat(5, 14vh);
         grid-template-columns: repeat(4, 25vw);

    }

    .zero{
        width:45vw;
        height: 12vh;
        border-radius: 50px;
        display: flex;
        padding-left: 1em;
        justify-content: start;
        align-items: center;
    }
    button{
        width: 23vw;
        height: 23vw;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
    }
}



@media screen and (max-width: 300px){
  

}